DEBUG=True
SECRET_KEY=django-insecure-changethislater-anyrandomstringwilldo
DATABASE_URL=postgresql://doadmin:yourpassword@nba-data-do-user-13285778-0.d.db.ondigitalocean.com:25060/defaultdb?sslmode=require
ALLOWED_HOSTS=localhost,127.0.0.1
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
BALLDONTLIE_API_KEY=2ba1a17f-df96-4b88-a40d-7795f7d5c4a6
