<div class="home">
    <p class="wordmark">NBA Analytics</p>
  
    @if (loading) {
      <p class="loading">Loading...</p>
    } @else {
      <div class="conferences">
        <div>
          <p class="conf-label">Eastern Conference</p>
          <ul class="team-list">
            @for (team of east; track team.id) {
              <li>
                <a [routerLink]="['/team', team.id]">{{ team.city }} {{ team.name }}</a>
              </li>
            }
          </ul>
        </div>
        <div>
          <p class="conf-label">Western Conference</p>
          <ul class="team-list">
            @for (team of west; track team.id) {
              <li>
                <a [routerLink]="['/team', team.id]">{{ team.city }} {{ team.name }}</a>
              </li>
            }
          </ul>
        </div>
      </div>
    }
  </div>